*.sh                        export-ignore
.bazel*                     export-ignore
.build                      export-ignore
.git*                       export-ignore
.pre-commit-config.yaml     export-ignore
e2e                         export-ignore
tests                       export-ignore
